*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 50px;
    height: 100vh;
}
.main{
    height: 80%;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}
.dis{
    padding: 20px;
    width: 50%;
    text-align: center;
    color: rgb(120, 120, 120);
}
p{
    padding: 20px;
    height: 130px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
input[placeholder]{
    font-size: 20px;
}
input,button {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    text-align: center;
    -moz-appearance: textfield;
    font-size: 2em;
    background-color: rgb(252, 236, 236);
}
button{
    background-color: rgb(255, 225, 225);
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
}