@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Noto Sans", sans-serif;
  background-color: black;
  color: rgb(164, 164, 164);
  width: 100%;
  height: 1vh;
}

h1{
  margin: 20px 0px 20px 0px;
  text-align: center;
  color: #ffc0d7;
  font-size: 50px;
}

table{
  margin: 0 auto;
  font-size: 25px;
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
}

.dcol{
  background-color: #5a5a5a;
  border-radius: 10px;
  border: none;
  color: #fad1e0;
  accent-color: #fad1e0;
}

input[type=submit]{
  height: 60px;
  width: 200px;
  font-size: 30px;
  background-color: #fad1e0;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  
}
input[type=text],input[type=Email],input[type=Password]{
  height: 50px;
  width: auto;
  font-size: 30px;
  outline: none;
  text-align: center;
  
}

input[type=radio]{
  height: 30px;
  width: 30px;
  margin: 10px;
  accent-color:rgb(164, 164, 164);
}

input[type=checkbox]{
  height: 30px;
  width: 30px;
  margin: 10px;
  
}

textarea{
  outline: none;
  text-align: center; 
}
select{
  height: 50px;
  width: 350px;
  margin: 10px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 25px;
}


